@import 'tailwindcss';
@import './mixins/dynamic';

:root {
  --background: #e7edf8;
  --foreground: #071429;
  --color-primary: #0714290a;
  --color-items: #fff;
  --color-commonBlack: #071429;
  --color-primaryBlue: #0e64ee;

  --index: calc(1vw + 1vh);
  --index-ratio: 24.96;
}

.dark {
  --background: #071429;
  --foreground: #e7edf8;
  --color-primary: #0714290a;
  --color-items: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans), system-ui, sans-serif;
  --font-display: var(--font-fixel-display), system-ui, sans-serif;

  --color-commonBlack: var(--color-commonBlack);
  --color-primary: var(--color-primary);
  --color-primaryBlue: var(--color-primaryBlue);
  --color-primaryOrange: #f99339;
  --color-primaryGreen: #21b50a;
  --color-items: var(--color-items);

  --spacing-grid: 8px;

  --radius-xl: 24px;
  --radius-lg: 20px;
  --radius-md: 16px;
  --radius-sm: 12px;

  --breakpoint-3xl: 112.5rem;
}

body {
  @apply bg-background text-foreground font-sans;
}

@layer components {
  .heading-hero {
    @apply font-display leading-[115%] font-semibold text-foreground;

    @include dyn-size(font-size, 36);
  }

  .heading-card-lg {
    @apply font-display leading-[115%] font-semibold text-foreground;

    @include dyn-size(font-size, 24);
  }

  .heading-card-md {
    @apply font-display leading-[115%] font-semibold text-foreground;

    @include dyn-size(font-size, 18);
  }

  .heading-label {
    @apply font-sans font-normal leading-[120%] text-foreground;

    @include dyn-size(font-size, 14);
  }

  .text-body-md {
    @apply font-sans font-normal leading-[120%] text-foreground/50;

    @include dyn-size(font-size, 14);
  }

  .text-body-sm {
    @apply font-sans font-normal leading-[120%] text-foreground/50;

    @include dyn-size(font-size, 12);
  }

  .text-button {
    @apply font-display font-normal leading-[120%];

    @include dyn-size(font-size, 15);
  }

  .card-dynamic-info {
    @include dyn-size(padding, 18);
    @include dyn-size(height, 176);
  }

  .card-dynamic-stat {
    @include dyn-size(padding, 18);
    @include dyn-size(height, 180);
  }

  .card-title-dis {
    @include dyn-size(gap, 4);
  }

  .dynamic-dis-grid {
    @include dyn-size(gap, 8);
  }

  .dynamic-button-h {
    @include dyn-size(height, 40);
  }

  .dynamic-dis-title-m {
    @include dyn-size(margin-bottom, 34);
  }

  .dynamic-dis-sidebar {
    @include dyn-size(gap, 129);
  }

  .card-info-title-dis-gen {
    @include dyn-size(gap, 8);
  }

  .card-info-title-dis {
    @include dyn-size(gap, 10);
  }

  .card-info-gen {
    @include dyn-size(padding, 14);
    @include dyn-size(padding-top, 20);
    @include dyn-size(border-radius, 24);
  }

  .card-info-gen-gap {
    @include dyn-size(gap, 12);
  }

  .cart-info-title-m {
    @include dyn-size(margin-bottom, 10);
  }

  .cart-chart {
    @include dyn-size(padding-top, 16);
    @include dyn-size(padding-bottom, 16);
    @include dyn-size(padding-left, 14);
    @include dyn-size(padding-right, 14);
  }

  @media (min-width: 1280px) {
    .grid-main {
      @include dyn-size(--info-col-width, 440);

      grid-template-columns:
        minmax(0, 1fr)
        minmax(0, var(--info-col-width));
    }
  }
}
