@import 'tailwindcss';

:root {
  --background: #e7edf8;
  --foreground: #071429;
  --color-primary: #0714290a;
  --color-items: #fff;
  --color-commonBlack: #071429;
  --color-primaryBlue: #0e64ee;

  --index: calc(1vw + 1vh);
  --index-ratio: 24.96;

  --dyn-4: calc(var(--index) * 4 / var(--index-ratio));
  --dyn-5: calc(var(--index) * 5  / var(--index-ratio));
  --dyn-8: calc(var(--index) * 8 / var(--index-ratio));
  --dyn-10: calc(var(--index) * 10 / var(--index-ratio));
  --dyn-12: calc(var(--index) * 12 / var(--index-ratio));
  --dyn-14: calc(var(--index) * 14 / var(--index-ratio));
  --dyn-15: calc(var(--index) * 15 / var(--index-ratio));
  --dyn-16: calc(var(--index) * 16 / var(--index-ratio));
  --dyn-18: calc(var(--index) * 18 / var(--index-ratio));
  --dyn-20: calc(var(--index) * 20 / var(--index-ratio));
  --dyn-24: calc(var(--index) * 24 / var(--index-ratio));
  --dyn-34: calc(var(--index) * 34 / var(--index-ratio));
  --dyn-36: calc(var(--index) * 36 / var(--index-ratio));
  --dyn-40: calc(var(--index) * 40 / var(--index-ratio));
  --dyn-129: calc(var(--index) * 129 / var(--index-ratio));
  --dyn-176: calc(var(--index) * 176 / var(--index-ratio));
  --dyn-180: calc(var(--index) * 180 / var(--index-ratio));
  --dyn-440: calc(var(--index) * 440 / var(--index-ratio));
}

.dark {
  --background: #071429;
  --foreground: #e7edf8;
  --color-primary: #0714290a;
  --color-items: #fff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans), system-ui, sans-serif;
  --font-display: var(--font-fixel-display), system-ui, sans-serif;

  --color-commonBlack: var(--color-commonBlack);
  --color-primary: var(--color-primary);
  --color-primaryBlue: var(--color-primaryBlue);
  --color-primaryOrange: #f99339;
  --color-primaryGreen: #21b50a;
  --color-items: var(--color-items);

  --spacing-grid: 8px;

  --radius-xl: 24px;
  --radius-lg: 20px;
  --radius-md: 16px;
  --radius-sm: 12px;

  --breakpoint-3xl: 112.5rem;
}

body {
  @apply bg-background text-foreground font-sans;
}

@layer components {
  .heading-hero {
    @apply font-display leading-[115%] font-semibold text-foreground;

    font-size: var(--dyn-36);
  }

  .heading-card-lg {
    @apply font-display leading-[115%] font-semibold text-foreground;

    font-size: var(--dyn-24);
  }

  .heading-card-md {
    @apply font-display leading-[115%] font-semibold text-foreground;

    font-size: var(--dyn-18);
  }

  .heading-label {
    @apply font-sans font-normal leading-[120%] text-foreground;

    font-size: var(--dyn-14);
  }

  .text-body-md {
    @apply font-sans font-normal leading-[120%] text-foreground/50;

    font-size: var(--dyn-14);
  }

  .text-body-sm {
    @apply font-sans font-normal leading-[120%] text-foreground/50;

    font-size: var(--dyn-12);
  }

  .text-button {
    @apply font-display font-normal leading-[120%];

    font-size: var(--dyn-15);
  }

  .card-dynamic-info {
    padding: var(--dyn-18);
    height: var(--dyn-176);
    border-radius: var(--dyn-12);
  }

  .card-dynamic-stat {
    padding: var(--dyn-18);
    height: var(--dyn-180);
    border-radius: var(--dyn-20);
  }

  .card-title-dis {
    gap: var(--dyn-4);
  }

  .dynamic-dis-grid {
    gap: var(--dyn-8);
  }

  .dynamic-button-h {
    height: var(--dyn-40);
  }

  .dynamic-dis-title-m {
    margin-bottom: var(--dyn-34);
  }

  .dynamic-dis-sidebar {
    gap: var(--dyn-129);
  }

  .card-info-title-dis-gen {
    gap: var(--dyn-8);
  }

  .card-info-title-dis {
    gap: var(--dyn-10);
  }

  .card-info-gen {
    padding: var(--dyn-14);
    padding-top: var(--dyn-20);
    border-radius: var(--dyn-24);
  }

  .card-info-gen-gap {
    gap: var(--dyn-12);
  }

  .cart-info-title-m {
    margin-bottom: var(--dyn-10);
  }

  .cart-chart {
    padding-top: var(--dyn-16);
    padding-bottom: var(--dyn-16);
    padding-left: var(--dyn-14);
    padding-right: var(--dyn-14);

    border-radius: var(--dyn-16);
  }

  @media (min-width: 1280px) {
    .grid-main {
      --info-col-width: var(--dyn-440);

      grid-template-columns:
        minmax(0, 1fr)
        minmax(0, var(--info-col-width));
    }
  }
}
